@{
    ViewData["Title"] = "Privacy Policy";
}


<p>
    <b>Privacy Policy</b>
    <br />
    Last Updated: [29 Nov. 2023]
    <br />
    <br />
    <b>Introduction:</b>
    <br />
    Welcome to TestMonster. A site to test your knowledge and teach you about the monsters of Dungeons & Dragons. This privacy policy explains how we collect, use and share information.
    <br />
    <br />
    <b>User-Provided Information: </b>
    <br />
    When you use TestMonster, we will use and collect information such as monster names. We share with you the monsters data.
    <br />
    <br />
    <b>Automatically Collected Information:</b>
    <br />
    We may also collect information automatically, including IP addresses and device information, to enhance user experience and improve our content.
    <br />
    <br />
    <b>How We Use Your Information:</b>
    <br />
    We use the information we collect to provide personalized knowledge tests, improve our educational content, and enhance the overall user experience.
    <br />
    <br />
    <b>Sharing Your Information:</b>
    <br />
    We do not sell, trade, or otherwise transfer your information to third parties. However, we may share aggregated, non-personal information for analytical purposes.
    <br />
    <br />
    <b>Viewer Discretion is Advised:</b>
    <br />
    TestMonster contains content and images related to monsters, some of which may not be suitable for sensitive audiences. User discretion is advised. If you find such content uncomfortable, you may choose to discontinue use.
    <br />
    <br />
    <b>Security:</b>
    <br />
    We take reasonable measures to protect the information provided by users of TestMonster.
    <br />
    <br />
    <b>Changes to This Privacy Policy:</b>
    <br />
    We may update this privacy policy as needed, and any changes will be effective immediately.
    <br />
    <br />
    <b>Contact Us:</b>
    <br />
    If you have any questions about this privacy policy, please contact us at <b>testmonstersite@yahoo.com</b>
    <br />
    <br />
    Thank you for using TestMonster!
    <br />
    <br />
    <span style="font-size: 25px;">
    Legal Disclaimer: "Dungeons & Dragons" is a registered trademark of Wizards of the Coast.
    </span>
    <br />
    <br />
    <a asp-controller="Home" asp-action="Index">Return to Home</a>
</p>
