@{
    ViewBag.Title = "Populate Database";
}

<h2>Populate Database</h2>

<form asp-action="PopulateDatabase" asp-controller="Animals" method="post">
    <input type="submit" value="Populate Database" />
</form>
