@{
    ViewBag.Title = "Purge Database";
}

<h2>Purge Database</h2>

<form asp-action="PurgeDatabase" asp-controller="Animals" method="post">
    <input type="submit" value="Purge Database" />
</form>
